.event_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 150px;
}
.events {
  background-color: #674188;
  padding-bottom: 30px;
  /* background-color: #674188; */
}

.event_card1 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 300px;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}
.event_icon {
  font-size: 50px;
  margin-right: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.searchbar {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
}

.searchbar h2 {
  color: white;
  margin: 0px 10px;
}

.headerSearch {
  height: 40px;
  background-color: white;
  border: 2px rgb(192, 21, 215) solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerIcon {
  color: rgb(154, 151, 151);
}

.headerInput {
  border: none;
  outline: none;
  color: rgb(166, 162, 162);
  font-size: 15px;
}

.searchButton {
  background-color: #674188;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: 1px #674188 solid;
}

.searchButton:hover {
  background-color: white;
  color: black;
}

.date {
  position: absolute;
  top: 0px;
}
